@import '@fontsource/fira-mono';
@import '@fontsource/inter';

:root {
	font-family: 'Inter', sans-serif;
	--font-heading: 'Inter', sans-serif;
	--font-text: 'Inter', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--dark-color: #2E3440;
	--white: #ECEFF4;
	--pure-white: #ffffff;
	--primary-color: #81A1C1;
	--primary-color-dark: #4172a3;
	--secondary-color: #88C0D0;
	--secondary-color-dark: #6ba2b1;
	--tertiary-color: #b0e086;
	--tertiary-color-dark: #8aaf69;
	--accent-color: #CAA45B;
	--heading-color: rgba(0, 0, 0, 0.7);
	--grey-1: #D8DED3;
	--text-color-light: #D8DED3;
	--text-color-dark: #333;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--site-width: 900px;
	--neat-red: #e66465;
} 

*{
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--white);
	color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6{
	font-family: var(--font-heading);
}
p,a button, li{
	font-family: var(--font-text);
}

p {
	font-weight: 00;
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
	background: var(--background-color);
	padding: 0 5px;
	border-radius: 2px;
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
	transition: all .2s;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
	color: var(--neat-red);
	text-decoration-color: var(--neat-red);
}
::selection {
	background: var(--background-color);
	color: var(--primary-color);
  }

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.3rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	cursor: pointer;
	position: relative;
}

button{
	bottom: 2px;
	padding: .5rem 1rem;
	border: none;
	border-radius: 1rem;
	outline: none;
	background-color: var(--tertiary-color);
	box-shadow:  0px 2px 0px var(--tertiary-color-dark);
	transition: all .1s;
}

button:focus:not(:focus-visible) {
	bottom: 0px;
	box-shadow: none;
	outline: none;
}

#tsparticles, #tsparticles canvas {
	pointer-events: none !important;
}

.container{
	padding: 1rem;
	max-width: var(--site-width);
	margin: auto;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
